[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
awscli = "*"
numpy = "*"
boto3 = "*"
openpyxl = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.10"
